.container{
    max-width: 600px;
}

.btn{
    background: #F24484;
    color: whitesmoke;
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus{
    outline: none !important;
}

body{
    background: #fdf5e6;
}

h1, .my-2{
    font-family: Georgia;
    font-weight: bold;
    color: #0476D9;
}

.username {
    font-weight: bolder;
    color: #0476D9;
}

.time {
    font-weight: lighter;

}