<!DOCTYPE html>

<head>

  <link rel="stylesheet" href="/css/master.css">
</head>

<body>
  <%- include('Partials/navigation.html'); %>
  <h1>Contact us!</h1>
  <p>Name: <%= profile %> </p>
  <p><p>

</body>

</html>
