<!DOCTYPE html>

<head>

  <link rel="stylesheet" href="/css/master.css">
</head>

<body>
  <%- include('Partials/navigation.html'); %>
  <h1>Thanks for contacting us!</h1>
  <p>You contacted <%= data.who %> at the <%= data.department %> department </p>
  <p>You will recieve an email at <%= data.email %> </p>


</body>

</html>
