<!DOCTYPE html>

<head>

  <link rel="stylesheet" href="/css/master.css">
</head>

<body>
  <%- include('Partials/navigation.html') %>
  <h1>This website is generated from a node JS local host server!</h1>
  <p>Cool isn't it?</p>
  <p><p>

</body>

</html>
